@import '../../../scss/var/variables';


.dashboard{
    background-color: $primary-bg-altcolor;
    
}
.dashboard-userInfo{
    
    font-weight: 700;
    margin: 10px;
}

.App-main{
    background-color: $secondary-bg-color;
    min-height: 67vh;
}

.dashboard .App-nav .App-link:hover{
    background-color: rgba($color: $primary-color, $alpha: 0.8);
  }