// Color Variable
    // Base Color
$primary-color: #1D1D1D;
$secondary-color:#EB001E;
$tercionary-color:#F8F8F8;
$quaternary-color:#404040;
$Cinqternary-color:#707070;

// Background color
$primary-bg-color:$primary-color;
$primary-bg-altcolor:$secondary-color;
$secondary-bg-color:$tercionary-color;

// Text Color:
$text-color: $primary-color;
$text-color-alt: $tercionary-color;
// Border



