// Import
@import './scss/var/variables';

// App Class

.App {
  text-align: center;
}

.App-logo {
  max-height: 8vmin;
  min-width: 5vmin;
  height: auto;
  pointer-events: none;
  -webkit-user-select: none; /* Safari */
  user-select:none;
}
.App-logo .debug{
  height: 40vmin;
  pointer-events: none;
  -webkit-user-select: none; /* Safari */
  user-select:none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo debug {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $primary-bg-color;
  position: relative; 
  min-height: 10vh;
  max-width:100vw;
  max-height: 15vh;
  margin-bottom: 8vh;
  position: relative;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  font-size: calc(10px + 0.9vmin);
  color: $text-color-alt;
}

.App-nav{
  display:flex;
  align-content: center;
  max-width: 100vw;
  width: 100vw;
  list-style: none;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
}
.nav-item{
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 16vw;
  width: 13vw;
  
}
.nav-item:not(.nav-menu-last) {
  width: 13vw;
}

 .nav-item:first-of-type {
   align-self: center;
 }
 .nav-item:first-child:not(#user-logged){
  flex-direction:row-reverse;
  flex-wrap:nowrap;
}

.nav-item:nth-of-type(4){
  position: relative;
  margin-right:auto;
}

.nav-item > li::after{
  gap: 2rem;
  grid-auto-flow: column;
}

body{
  // background-color: #1d1d1d;
  background-image: url("http://www.theatrenonchaloir.fr/images/theatre.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

.App-main{
  background-color:  rgba($color: $secondary-bg-color, $alpha: 0.8);
  color:$text-color;
  margin: auto;
  padding: 1rem 0.5rem;
  min-height: 20vh; 
  max-width: 85vw;
  
  border-radius:5px;

  flex-direction: column;
}

.App-title{
  color:$secondary-color
}
.title-subtitle{
  padding: 0 1rem;
}

.pre-footer{
  margin-top: 2vh;
}



.App-footer{
  grid-auto-columns: auto;
  position: relative;
  margin-top: 5vh;
  background-color: $primary-color;
  max-width: 100vw;
  max-width: 100vw;
  position: relative;
  background-position-y:top;
  min-height: 10vh;
  padding: 1rem;
  display: grid;
  color:$text-color-alt;
}

.App-footer > :first-child{
  display: flex;
  flex-direction: row;
}


// Link
.App-link:not(.App-logo) {
  color: $text-color-alt;
  text-decoration:none;
  min-height: 100%;
}
.App-link:hover{
  font-weight: bold;
}


.App-nav .App-link:first-child{
  flex-wrap: nowrap;
  margin-left: -2vw;
  padding-right: 2vw;
}
.App-nav .App-link:hover{
  cursor: pointer;
  background-color: rgba($color: $secondary-color, $alpha: 0.8);
}

// Animation
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
